#map_canvas{
  height: 80vh;
  width: 100%;
  border: 1px solid grey;
  .markerimg{ 
      height: 40px; transform:translate(-50%, -50%); 
      position: absolute; 
      left: 50%; 
      top: 46.5%;
  }
}